<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--设置别名-->
    <typeAliases>
        <package name="com.zhao.domain"/>
    </typeAliases>

    <!--分页查询-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--设置分页合理化，使分页<0,变成第一页，使超过总页数变成最后一页-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>